<div class="w-full max-w-md mx-auto my-8">
  <div class="bg-white border border-gray-300 rounded-lg px-8 pt-6 pb-8">

    <h2 class="pt-4 mb-8 text-4xl font-bold heading">Create New Product</h2><br>

      <%= form_for @product do |f| %>

        <div class="input-group">
          <%= f.label :image, "Product Images", class:"label" %>
          <%= f.file_field :image, class:"", multiple: true %>
        </div>

        <div class="input-group">
          <%= f.label :product_name, "Product Name", class:"label" %>
          <%= f.text_field :product_name, class:"input" %>
        </div>

        <div class="input-group">
          <%= f.label :sku, "SKU", class:"label" %>
          <%= f.text_field :sku, class:"input" %>
        </div>

        <div class="input-group">
          <%= f.label :price, "Price (RM)", class:"label" %>
          <%= f.number_field :price, class:"input" %>
        </div>

        <div class="input-group">
          <%= f.label :description, "Product Description", class:"label" %>
          <%= f.text_area :description, class:"input" %>
        </div>
       
        <div class="input-group">
        <%= f.submit "Create Product", class:"btn btn-default" %>

      <% end %>
  </div>
</div>
