<div class="page-header">
  <%= link_to products_path, class: 'btn btn-default' do %>
    All Products
  <% end %>
  <%= link_to edit_product_path(@product), class: 'btn btn-primary' do %>
    Edit
  <% end %>
  <h1>Show product</h1>
</div>

<dl class="dl-horizontal">
  <dt>Product Name:</dt>
  <dd><%= @product.product_name %></dd>
  <dt>Price (RM):</dt>
  <dd><%= @product.price %></dd>
  <dt>SKU:</dt>
  <dd><%= @product.sku %></dd>
  <dt>Description:</dt>
  <dd><%= @product.description %></dd>
</dl>
